.search-button2 {
  display: none;
  overflow: hidden;
}
@media (max-width: 1090px) {
  .search-button2 {
    display: flex;
    align-items: center;
    position: relative;
    left: 33%;
    overflow: visible;
  }
  .search-button2 a {
    font-size: 25px;
    color: #6b6b6b;
  }
  .cart-total2 {
  }
  .cart-total2 a {
    color: orange;
    margin: 0px 20px;
  }
  .cart-total2 a:hover {
    color: orangered;
  }
  i#search-bar2 {
    color: #6b6b6b;
  }
  .searchbar3 {
    display: none;
  }
  #search-box2 {
    position: absolute;
    top: 40%;
    display: block;
    right: 105%;
    border-radius: 4px;
    border: 1px solid darkgrey;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  }
  #nav-bar.active .cross {
    background: transparent;
  }
  #nav-bar.active .cross::after {
    transform: translateY(-10px) rotate(134deg);
    transition: all 0.5s ease-in;
  }
  #nav-bar.active .cross::before {
    transition: all 0.5s ease-in;
    transform: translateY(9px) rotate(45deg);
  }
  .cross,
  .cross::after,
  .cross::before {
    transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 970px) {
  .search-button2 {
    left: 27%;
  }
}
@media (max-width: 650px) {
  .cart-total2 {
    display: none;
    overflow: hidden;
  }
  #search-bar2 {
    display: none;
    overflow: hidden;
  }
  .search-button2 {
    left: 30%;
  }
  #remove-search {
    display: none;
    overflow: hidden;
  }
  .search-bar2 {
    display: none;
    overflow: hidden;
  }
  #searchbar {
    display: block;
    font-size: 34px;
    left: 0%;
  }
}
@media (max-width: 770px) {
  #search-box2 {
    top: 33%;
  }
}
@media(max-width: 560px){
  .search-button2 {
    left: 20%;
  }
}
@media (max-width: 500px) {
  #nav-bar.active .cross::after {
    transform: translateY(-7px) rotate(133deg);
  }
  .search-button2 {
    left: -8%;
  }
}

