* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Hind", sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  }
  