@media(max-width:764px){
    .map{
        padding: 16px;
        width: 94%;
        margin: 0px;
        margin-bottom: 32px;
    }
    input[type=text]{
        width: 85%;
    }
    .submit-btn{
        padding: 0px;
    }
    textarea{
        width: 87%;
    }
}