* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.header {
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  margin: 12px;
  padding: 12px;
}
.header a {
  margin: -11px 0px;
  color: black;
  text-decoration: none;
}
.header a:hover {
  color: orange;
}
.icon {
  margin: 0px 0px;
  width: 22px;
  vertical-align: middle;
}
#media-icons {
  float: right;
  margin: 0px 5px;
}
@media (max-width: 800px) {
  #media-icon {
    display: none;
    overflow: hidden;
  }
  .icon {
    display: none;
    overflow: hidden;
  }
}
/* #media-icons:hover{
    border: none;
    background-color: white;
    filter: invert();
} */
#navbar {
  transition: all 0.4s ease-in-out;
  margin: -8px 28px;
  padding: 12px;
  display: flex;
  /* background-color: grey; */
}
#navbar ul {
  transition: all 0.3s ease-in-out;
  display: flex;
}
#navbar ul li {
  margin-left: 12px;
  display: flex;
  list-style: none;
  align-items: center;
}
#navbar ul li a {
  color: black;
  font-size: 20px;
  margin: 45px 12px;
  text-decoration: none;
  background-color: transparent;
}
#navbar ul li a:hover {
  background-color: transparent;
  color: rgb(63, 62, 62);
  filter: invert();
}
.logo {
  display: flex;
}
.logo img {
  width: 122px;
}
#heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 40px;
  align-items: center;
  margin: 0px 12px;
  color: orange;
}
#searchbar img {
  margin: 30px 33px;
  width: 62px;
  position: absolute;
}
#searchbar img:hover {
  background-color: transparent;
  filter: invert();
}
.cart-total {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 132px;
  margin-top: 29px;
}
.cart-total a {
  color: orange;
}
.cart-total img {
  margin: 9px -1px;
  width: 27px;
  vertical-align: middle;
}
.cart-total p {
  margin: -17px 0px;
  vertical-align: middle;
}
.cart-total a:hover {
  color: orangered;
}
.cart-total p:hover {
  color: black;
}
.home-index {
  margin: 12px 12px;
  padding: 1.5em 0;
  background: #f5f5f5;
}
#home-iconset {
  margin-left: 60px;
  vertical-align: middle;
}
.home-index a {
  color: black;
  font-size: 15px;
  vertical-align: middle;
  /* margin-left: 60px; */
}
.home-index a:hover {
  color: orange;
}
.loginpage {
  margin: 20px;
}
.loginpage p1 {
  margin: 12px;
  color: gray;
  display: flex;
  justify-content: center;
}
#login-heading {
  transition: all 0.4s ease-in-out;
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: orange;
}

.form-box {
  transition: all 1.4s ease-in-out;
  background: #f5f5f5;
  margin: 0px 200px;
}
.form-set {
  margin-top: 25px;
  width: 40%;
  border: 1px solid grey;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  margin-bottom: 12px;
  /* height: 40px; */
  font-size: 30px;
}
.form-set {
  padding-left: 35px;
}
#form-image-set1 {
  background: url(./images/email.png) no-repeat 1px 6px;
}
#form-image-set2 {
  background: url(./images/padlock.png) no-repeat 1px 2px;
}
.set-form {
  display: block;
  width: 100%;
  margin-left: 350px;
}
.forgot-pass-set {
  margin-top: 15px;
  margin-bottom: 42px;
  font-size: 15px;
}
.forgot-pass-set:hover {
  color: rgb(207, 52, 78);
}
.button-set {
  width: 40%;
  height: 40px;
  margin-bottom: 52px;
  background-color: orange;
  font-size: 30px;
  border: none;
  border-radius: 12px;
}
.signin-newuser {
  display: flex;
  justify-content: center;
}
.button-set:hover {
  background-color: rgb(177, 82, 47);
}
.signin-newuser a {
  margin-bottom: 22px;
  color: orange;
  animation: animate 1.5s linear infinite;
}
#heading-newuser {
  display: flex;
  justify-content: center;
  margin: 12px;
  font-size: 30px;
}
.footer-content {
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box {
  margin-left: 60px;
  margin-top: 12px;
  text-align: left;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}
h1 {
  color: orange;
  /* font-size: 40px; */
}
p {
  color: #999;
  margin-right: 12px;
}
.line {
  /* position: absolute; */
  margin-top: -12px;
  margin-bottom: 12px;
}
.footer-img {
  filter: invert();
}
.footer-text {
  margin-top: 12px;
  color: #999;
  text-align: center;
}
#footer-name {
  color: white;
}
@keyframes animate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

