* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Hind", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

.header {
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  margin: 12px;
  padding: 12px;
}
.header a {
  margin: -11px 0px;
  color: black;
  text-decoration: none;
}
.header a:hover {
  color: orange;
}
.icon {
  margin: 0px 0px;
  width: 22px;
  vertical-align: middle;
}
#media-icons {
  font-size: 25px;
  float: right;
  margin: -10px 5px;
}
h1 {
  color: black;
}

#navbar {
  transition: all 0.4s ease-in-out;
  margin: 0px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.dropdown-content2 ul {
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}
.dropdown-content2 ul li {
  position: relative;
  margin-left: 12px;
  display: flex;
  list-style: none;
  align-items: center;
}
.dropdown-content2 ul li a {
  position: relative;
  color: black;
  font-size: 20px;
  margin: 45px 12px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.dropdown-content2 ul li a:hover {
  background-color: transparent;
  color: orange;
  /* filter: invert(); */
}
.product-hover-grid {
  display: none;
}
.product-grid-layout {
  padding: 17px;
  margin: 13px;
}
.product-grid-layout p10 {
  /* position: absolute; */
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.product-grid-layout li a {
  list-style: none;
  text-decoration: none;
}
.product-hover:hover .product-hover-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 533px;
  margin: 26px;
  border-radius: 2px;
  z-index: 1;
}
.product-hover:hover .product-grid-layout a {
  font-size: 15px;
  display: contents;
  color: rgb(63, 62, 62);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.product-hover:hover .product-grid-layout a:hover {
  color: orange;
}
.logo {
  display: flex;
  position: relative;
}
.logo img {
  position: relative;
  width: 122px;
}
#heading {
  font-family: "hind";
  font-size: 45px;
  align-items: center;
  margin: 0px 12px;
  color: orange;
  cursor: pointer;
}

#searchbar {
  position: relative;
  top: 16%;
  left: 120%;
  font-size: 44px;
  vertical-align: middle;
  display: flow-root;
  color: #6b6b6b;
  transition: all 0.4s ease-in-out;
}
#searchbar:hover {
  color: orange;
  animation: animate 1.5s linear infinite;
}
#search-box {
  position: absolute;
  background-color: white;
  display: none;
  border: none;
  color: black;
  text-align: left;
  width: 40%;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.search-button:hover #search-box {
  display: inline-block;
  overflow: hidden;
  width: 28%;
}
.search-button input {
  color: rgb(37, 37, 37);
  padding: 4px 0px;
  text-decoration: none;
  display: block;
  font-size: 19px;
  overflow: hidden;
}
.cart-total {
  transition: all 0.4s ease-in-out;
  position: relative;
  left: 6%;
  bottom: 13px;
}
.cart-total a {
  transition: all 0.4s ease-in-out;
  color: orange;
}
.cart-total #cart {
  margin: 10px 0px;
  width: 27px;
  vertical-align: middle;
}
.cart-total p {
  margin: -13px 0px;
  vertical-align: middle;
}
.cart-total a:hover {
  color: orangered;
}
.cart-total p:hover {
  color: black;
}
.dropbtn2 {
  display: none;
}

.home-index {
  margin: 12px 12px;
  padding: 1.5em 0;
  background: #f5f5f5;
}
#home-iconset {
  font-size: 21px;
  margin-left: 60px;
  vertical-align: baseline;
  color: orange;
}
.home-index a {
  transition: all 0.4s ease-in-out;
  color: black;
  font-size: 18px;
  vertical-align: baseline;
  /* margin-left: 60px; */
}
.home-index a:hover {
  color: orange;
}
.loginpage {
  margin: 20px;
}
.loginpage p1 {
  margin: 12px;
  color: gray;
  display: flex;
  justify-content: center;
}
#login-heading {
  transition: all 0.4s ease-in-out;
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: orange;
}
#login-heading1 {
  color: orange;
  font-size: 62px;
  vertical-align: -webkit-baseline-middle;
}
.login-logo {
  color: rgb(216, 151, 31);
  text-align: center;
  margin: 12px 12px;
}
.login-logo p6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-size: 22px; */
  vertical-align: super;
}

.form-box {
  transition: all 1.4s ease-in-out;
  background: #f5f5f5;
  margin: 0px 200px;
  overflow: hidden;
}
.form-set {
  margin-top: 25px;
  width: 127%;
  border: 1px solid grey;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  margin-bottom: 12px;
  font-size: 19px;
  padding: 11px 0px;
}
#form-image-set1 {
  outline: none;
  background: url(./images/email.png) no-repeat 9px 9px;
  padding-left: 45px;
}
#form-image-set2 {
  outline: none;
  background: url(./images/padlock.png) no-repeat 8px 6px;
  padding-left: 45px;
}
.set-form {
  display: flex;
  width: 92%;
  /* margin-left: 350px; */
  justify-content: center;
  align-items: center;
}
.forgot-pass-set {
  margin-top: 15px;
  margin-bottom: 42px;
  font-size: 15px;
}
.forgot-pass-set:hover {
  color: rgb(207, 52, 78);
}
.button-set {
  width: 145%;
  height: 40px;
  margin-bottom: 52px;
  background-color: orange;
  font-size: 30px;
  border: none;
  border-radius: 12px;
}
.signin-newuser {
  display: flex;
  justify-content: center;
}
.button-set:hover {
  background-color: rgb(177, 82, 47);
}
.signin-newuser a {
  margin-bottom: 22px;
  color: orange;
  animation: animate 1.5s linear infinite;
}
#heading-newuser {
  display: flex;
  justify-content: center;
  margin: 12px;
  font-size: 30px;
}
.footer-content {
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 25px;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box {
  margin-left: 60px;
  margin-top: 12px;
  text-align: left;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}
h1 {
  color: orange;
  /* font-size: 40px; */
}
p {
  justify-content: right;
  display: flex;
  color: #999;
  margin-right: 12px;
}
.line {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* position: absolute; */
  margin-top: -12px;
  margin-bottom: 12px;
}
.footer-img {
  filter: invert();
}
.footer-text {
  margin-top: 32px;
  color: #999;
  text-align: center;
}
#footer-name {
  color: white;
}
.footer-logo {
  color: #999;
  text-align: center;
  margin: 12px 12px;
}
#footer-heading {
  font-size: 42px;
  vertical-align: -webkit-baseline-middle;
}
.footer-logo p0 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 42px;
  vertical-align: super;
}
.flicker-grid {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
}
.flicker-box img {
  width: 82px;
}

/* media queries */

@media (max-width: 1080px) {
  .dropbtn2 {
    display: flex;
    border: 1px solid black;
    background-color: white;
    color: #999;
    padding: 4px 6px;
    /* width: 50px; */
    font-size: 25px;
    cursor: pointer;
    border-radius: 2px;
  }

  .dropdown2 {
    position: relative;
    right: 0px;
  }
  .dropdown-content2 {
    display: flex;
    justify-content: flex-end;
    width: 115px;
  }
  .dropdown-content2 ul {
    position: absolute;
    display: none;
    /* display: flex;
  flex-direction: column; */
  }
  .dropdown-content2 ul li {
    /* position: absolute; */
    background-color: white;
    display: none;
    border: none;
    color: black;
    width: 5rem;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content2 ul li a {
    margin: 0px;
    padding: 0px;
    color: rgb(37, 37, 37);
    text-decoration: none;
    display: block;
    font-size: 19px;
  }

  .dropdown2:hover .dropdown-content2 ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .dropdown2:hover .dropdown-content2 ul li {
    padding: 25px;
    margin: 0px;
    display: flex;
    width: 500px;
    flex-direction: column;
  }
  .dropdown-content2 ul li a:hover {
    background: orange;
  }
}

@media (max-width: 1090px) {
  #navbar {
    display: flex;
    text-align: center;
  }
  #searchbar {
    font-size: 44px;
    left: 0%;
  }
  .cart-total {
    left: 0%;
  }
}
@media (max-width: 812px) {
  #searchbar {
    display: none;
    overflow: hidden;
  }
  .cart-total {
    display: none;
    overflow: hidden;
  }
  .product-hover-grid {
    display: none;
    overflow: hidden;
  }
  .product-grid-layout {
    display: none;
    overflow: hidden;
  }
  #remove-product-downbar {
    display: none;
    overflow: hidden;
  }
  #remove-shopping-downbar {
    display: none;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .dropdown-content2 {
    width: 0px;
  }
}
@media (max-width: 912px) {
  .form-box {
    margin: 0px;
    overflow: visible;
  }
  .set-form {
    display: block;
    transition: none;
    margin: 0px;
    width: 100%;
  }
  .form-set {
    position: relative;
    width: 100%;
    margin: 12px 7px;
  }
  #form-image-set1 {
    width: 82%;
  }
  #form-image-set2 {
    width: 82%;
  }
  .button-set {
    width: 100%;
  }
  /* .button-set #submit{
     width: 82%;
   } */
  .forgot-pass-set {
    padding: 0px 7px;
  }
}

@media (max-width: 800px) {
  .header a {
    display: contents;
    overflow: hidden;
  }
  #home-iconset {
    display: none;
    overflow: hidden;
  }
  #icon-visibility {
    display: inline;
  }
  .home-index a {
    padding: 12px;
  }
  #media-icons {
    overflow: visible;
    display: inline;
  }
  #remove-header-content {
    display: none;
    overflow: hidden;
  }
  .footer-content {
    position: relative;
    width: 100;
    background: #2e2e2e;
    overflow: hidden;
  }
  .footer-grid {
    background: #2e2e2e;
    /* display: block; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    margin: 0px -43px;
    justify-content: center;
  }
  footer {
    background: #2e2e2e;
  }
  #flicker-img-hide {
    display: none;
    overflow: hidden;
  }
  .box {
    margin-left: 0px;
  }
}

@media (max-width: 1040px) {
  .footer-text {
    display: none;
    overflow: hidden;
  }
  .footer-logo {
    display: none;
  }
  #footer-heading {
    display: none;
    overflow: hidden;
  }
}
@media (max-width: 610px) {
  .login-logo {
    font-size: 0px;
  }
  #login-heading1 {
    font-size: 55px;
  }
  .footer-grid {
    justify-content: left;
  }
  .box {
    margin-left: 60px;
  }
}

/* Animation Content */

@keyframes animate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}
