<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-COM EXPRESS | A Shopping Website</title>
    <style></style>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <!-- LOGIN BOX -->
    <div>
      <ul class="breadcrumb home-index">
        <li><i class="fas fa-home" id="home-iconset"></i></li>
        <li class="breadcrumb-item">
          <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item"><p39>New-Registration</p39></li>
        <li class="breadcrumb-item active"></li>
      </ul>
    </div>
    <div class="loginpage">
      <div class="login-logo">
        <p6>__________________</p6>
        <span id="login-heading1">Register Here</span>
        <p6>__________________</p6>
      </div>

      <p1>
        Lorem, psum dolor sit amet consectetur adipisicing elit. Aspernatur,
        optio!
      </p1>
    </div>
    <div class="form-box2">
      <div class="set-form2">
        <form action="/register/register" method="post">
          <div class="register-profile"><p8>PROFILE INFORMATION</p8></div>

          <i class="fas fa-user" id="register-icons"></i>
          <input
            class="register-form-set register-icon-set"
            type="name"
            required
            name="firstname"
            placeholder="Enter your first name"
          />

          <i class="fas fa-users" id="register-icons"></i>
          <input
            class="register-form-set register-icon-set"
            type="text"
            required
            name="lastname"
            placeholder="Enter your last name"
          />
          <div class="register-profile"><p8>LOGIN INFORMATION</p8></div>
          <i class="fas fa-envelope-open" id="register-icons"></i>
          <input
            class="register-form-set register-icon-set"
            type="email"
            required
            name="email"
            placeholder="Enter your e-mail"
          />
          <i class="fas fa-user-lock" id="register-icons"></i>
          <input
            class="register-form-set register-icon-set"
            type="text"
            required
            name="password"
            placeholder="New password"
          />
          <i class="fas fa-user-lock" id="register-icons"></i>
          <input
            class="register-form-set register-icon-set"
            type="text"
            required
            name="confirmpassword"
            placeholder="Confirm password"
          />
          <div class="terms-accept-box">
            <input type="checkbox" required name="checked" id="checkbox" />
            <label for="checkbox" id="checkbox"
              >I have read the Terms And Conditions</label
            >
          </div>
          <div>
            <button class="button-set2" type="submit" id="submit">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- FOOTER BOX -->
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
